<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m520it.receiver04"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.m520it.receiver04.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.m520it.receiver04.PayerA">
            <!-- -1000~1000 -->
            <intent-filter android:priority="999" >
                <action android:name="com.m520it.receiver03.action.PASSVALUE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.m520it.receiver04.PayerB">
            <intent-filter android:priority="540">
                <action android:name="com.m520it.receiver03.action.PASSVALUE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.m520it.receiver04.PayerC">
            <intent-filter android:priority="250">
                <action android:name="com.m520it.receiver03.action.PASSVALUE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
